{% extends 'login/base2.html' %}

{% block content %}
<style type="text/css">
  h3{text-align: center;}
  h4{text-align: center; color: black;}
</style>
<div id="Viajes" class="banner-left">
  <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Viajes');"><i class="fa fa-car w3-margin-right"></i>Confirmar</button>
    </div>
    <div id="Viajes" class="w3-container w3-white w3-padding-16 myLink"  >
      {% if exitoaceptarreservaconductor %}
        <h3>Operación exitosa</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
          <h6 style="color: black;" >La reserva fue aceptada con exito</h6></div>
      {% else %}
      <h3>Operación fallida</h3>
      <div class="w3-row-padding" style="margin:0 -16px;"></div>
          <h4 style="color: black;">Lo sentimos, la reserva no puede ser aceptada.</h4>
      {% endif %}
      <br>
          <a href="{% url 'viaje_list' %}" class="w3-button w3-dark-grey" >Volver a mis viajes publicados </a>
	</div>
</div>
{% endblock %}
