  {% extends 'login/base.html' %}

{% block content %}
 <style type="text/css">
        td{
          text-align: center;
        }
        th{
          text-align: center;
        }
      </style>  
<div class="banner-info">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Viajes');"><i class="fa fa-car w3-margin-right"></i>Reservas</button>
    </div>
    <div id="Viajes" class="w3-container w3-white w3-padding-16 myLink">
      <div class="banner-left wow fadeInLeft animated" data-wow-delay=".5s" >      
        <h3>Viajes que coincidan con : De {{origen}} a {{destino}} </h3>
          {% csrf_token %}
          {% if viajes %}
                <div class="panel panel-default table-responsive">
                  <table class="table  table-responsive table-striped">
                    <thead>
                      <tr>
                      <th>Origen</th>
                      <th>Destino</th>
                      <th>Fecha de inicio</th>
                      <th>Hora de inicio</th>
                      <th>Precio </th>
                      <th>Autor </th>
                      <th>N° Paradas</th>
                      <th>Asientos Disp.</th>
                      <th>Reservar</th>
                    </tr> 
                    </thead>
		              <tbody>
                    {% for viaje in viajes %}
                			<tr data-href="{% url 'viaje_details' viaje.0.id %}" style="cursor: pointer">
                  			<td>{{ viaje.1.origen.nombre }}</td>
                        <td>{{ viaje.2.destino.nombre }}</td>
                        <td>{{ viaje.1.fecha }}</td>
                        <td>{{ viaje.1.hora_salida }}</td>
                  			<td>{{ viaje.3 }}</td>
                        <td>{{ viaje.0.conductor.usuario }}</td>
                        <td>{{ viaje.4 }}</td>
                        <td>{{ viaje.5 }}</td>
                        <td ><form method="get" action="/viaje/realizar_reservas" style="vertical-align:middle;">
                        <input type="hidden" id="idviaje" name="idviaje" value="{{ viaje.0.id }}">
                        <input type="hidden" id="precio" name="precio" value="{{ viaje.3 }}">
                        <input type="hidden" id="Origen" name="Origen" value="{{ origen }}">
                        <input type="hidden" id="Destino" name="Destino" value="{{ destino }}"> 
                        <button type="submit" class="round-button" ><i class="fa fa-bell"></i></button></form></td>
                      </tr>
          	        {% endfor %}
              		</tbody>
              	</table>
              </div>
              {% else %}
              <div class="w3-container">
                <h1>Lo sentimos, no hay viajes que coincidan con tu búsqueda</h1>
              </div>
             {% endif %}
          </div><br>
          <div class="banner-left">
            <p><a href=" {% url 'buscar_viaje' %}" ><button class="w3-button w3-dark-grey" type = "submit" >Volver a buscar viajes</button></a></p>
          </div><br><br>
    </div>
</div>
  
<script type="text/javascript">
  $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
});
</script>
<!-- Page content -->
  <!-- Contact -->
{% endblock %}