{% extends 'login/base2.html' %}

{% block content %}
<style>
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 15vw;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -5.5vw;
  opacity: 0;
  font-size: 11px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
h3{font-size: 250%; text-align: center;}
</style>
  <div class="banner-info">
      <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Viajes');"><i class="fa fa-car w3-margin-right"></i>Publicar Viaje</button>
         </div>
          <div id="Viajes" class="w3-container w3-white w3-padding-16 myLink">
            <div class="banner-left wow fadeInLeft animated" data-wow-delay=".5s" > 
            <h3>Publica tu viaje con nosotros</h3><br>
              <div class="home-form-w3ls mt-5">
                <div class="banner-left">

                {% if error %}
                  <h5>{{error}}</h5><br>
                {% endif %}
                  {% if form.non_field_errors %}
                  <ul>
                  {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
                  <form method="post">
                    <div class="row">
                      <div class="col-lg-6">
                          {% csrf_token %}
                           <div class="form-group">
                              <input class="form-control" type="text" name="origen" id="origen" required class="vTextField" maxlength="30" placeholder="Origen"><br>
                              <input class="form-control" type="text" name="destino" id="destino" required class="vTextField" maxlength="30" placeholder="Destino">
                          </div>
                            {% for field in form.visible_fields %}
                            {% if field.name == "porta_maleta" or field.name == "silla_niños" or field.name == "mascotas"%}
                            <label style="background-color: white;">{{ field.label_tag }}</label>
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}
                            {% else %}
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}      
                                {% endif %}
                              </p><br>  
                                {% endfor %}
                      </div>
                    </div><br>            
                    <a href="{% url 'cancelar_crear_viaje' %}" class="w3-button w3-dark-grey" >Cancelar </a>
                    <button class="w3-button w3-dark-grey" name="publicar" value="1" style="margin-left: 2%">Publicar Viaje</button>
                    <button class="w3-button w3-dark-grey" type = "submit" name="agregar"  value="1" style="margin-left: 2%">Agregar Paradas</button>
                  </form>
               </div>
             </div>
         </div>
      </div>
</div>
<script>
function onLoaded() {

 var options = {
  types: ['(cities)'],
  componentRestrictions: {country: "cl"}
 };
        var location_input = document.getElementById('origen');
        var location_input2 = document.getElementById('destino');
        var autocomplete = new google.maps.places.Autocomplete(location_input,options);
        var autocomplete = new google.maps.places.Autocomplete(location_input2,options);

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD6Q31QwQK0pv7twtzD32efp6hLa0uFEs&libraries=places&callback=onLoaded"></script>
            
</script>
<script>
// Tabs
function openLink(evt, linkName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(linkName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();
</script>
<script >
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
{% endblock %}
