{% extends 'login/base2.html' %}

{% block content %}

<!-- Header -->
<style type="text/css">
  h3{text-align: center;}
  h4{text-align: center;}
</style>
<div class="banner-info">
  <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Viajes');"><i class="fa fa-car w3-margin-right"></i>Error</button>
    </div>
    <div id="Viajes" class="w3-container w3-white w3-padding-16 myLink">
      <div class="banner-left wow fadeInLeft animated" data-wow-delay=".5s" ><br><br>
          <h3 style="color: black;">No se puede realizar esta operación</h3>
          <div class="w3-container" style="margin:0 -16px;" >
            <h4 style="color: black;">El viaje seleccionado tiene reservas pendientes o aprobadas, por lo que no se puede editar ni cancelar</h4>
          </div><br><br>
          <div style="text-align: center;">
            <a href="{% url 'viaje_list' %}"><button class="w3-button w3-dark-grey">Volver a mis viajes</button></a>
          </div>
      </div>
    </div>
</div>


{% endblock %}