{% extends 'login/base2.html' %}

{% block content %}
<!-- Header -->
<style type="text/css">
  h3{text-align: center;}
  h4{text-align: center; color: black;}
</style>
<div class="banner-info">
  <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Viajes');"><i class="fa fa-car w3-margin-right"></i>Publicar Viaje</button>
    </div>
    <div id="Viajes" class="w3-container w3-white w3-padding-16 myLink">
      <div class="banner-left wow fadeInLeft animated" data-wow-delay=".5s"" >
          <h3>Operación realizada</h3>
          <div class="w3-row-padding" style="margin:0 -16px;">
              <h6 style="margin-left: 2%">La operación fue realizada con éxito</h6><br>
             <a href="{% url 'index' %}"><button class="w3-button w3-dark-grey" type = "submit" style="margin-left: 2%">Menu Principal</button></a>
        </div>
      </div>
   </div>
</div>
{% endblock %}
