{% extends 'base/base.html' %}


{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Origem</td>
			<td>Destino</td>
			<td>Fecha</td>		
	</thead>
	<tbody>
		{% if object_list %}
		{% for viaje in object_list %}
		<tr>
			<td>{{ viaje.id }}</td>
			<td>{{ viaje.origen }}</td>
			<td>{{ viaje.destino }}</td>
			<td>{{ viaje.fecha }}</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de viajes</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}