<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'login/base2.html' %}

{% block content %}
<style>
.myLink {display: none}
</style>
<div class="container">
	<div class="grid_3 grid_5 wow fadeInDown animated" data-wow-delay=".5s">
				<h3 style="text-align: center ;" class="hdg">Administrar Viaje</h3>
				<div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Viajes');"><i class="fa fa-map w3-margin-right"></i>Mapa</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Pasajeros');"><i class="fa fa-user w3-margin-right"></i>Pasajeros</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Reservas');"><i class="fa fa-bell w3-margin-right"></i>Reservas</button>
    </div>
          <div id="Viajes" class="w3-container w3-white w3-padding-16 myLink">
              <h2 style="text-align: center;" >Ruta a seguir</h2>
              <div class = "w3-container">
                <div id="map" class="map"></div>
              </div>
              <br>
              <form method='POST'>
               <button style="margin:1.5em;" type="submit" name="alerta" value="1"><span style="color:red; font-size:1.5em;" class="glyphicon glyphicon-alert "></span><span style="font-size:1.5em;"> Avisar a los pasajeros cercanos </span></button>
             </form>
              <div class="panel panel-default table-responsive">
              <table class="table  table-responsive table-striped" >
                <thead>
                  <tr id="head">
                        <th scope="col" >Direccion</th>
                        <th scope="col" >Hora</th>
                        <th scope="col">Confirmar</th>
                  </tr> 
                </thead>
                <tbody> 
                  <tr>
                    {% if destino %}
                        <td><a>{{ siguiente.destino.direccion }}</a></td>
                        <td><a>{{ siguiente.hora_llegada }}</a></td>
                      {% else %}
                      <td><a>{{ siguiente.origen.direccion }}</a></td>
                      <td><a>{{ siguiente.hora_salida }}</a></td>
                      {% endif %}
                      <form method='POST'>
                      {% csrf_token %}      
                        <td><button type="submit" name="parada" value="1"><span style="color:green; font-size:1.5em;" class="glyphicon glyphicon-ok-sign "></span></button></td>
                        </form>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
          </div>
            <div id="Pasajeros" class="w3-container w3-white w3-padding-16 myLink">
              <h2 style="text-align: center ;" >Pasajeros</h2>
              <h3 class="typoh2">Pasajeros proximos</h3>
              {% if reservasaceptadas %}
              <div class="panel panel-default table-responsive">
              <table class="table  table-responsive table-striped" >
                <thead>
                  <tr id="head">
                        <th  >Reserva id</th>
                        <th  >Pasajero</th>
                        <th  >Plazas</th>
                        <th  >Origen</th>
                        <th >Estado</th>
                        <th >Sube</th>
                        <th >No sube</th>
                  </tr> 
                </thead>
                <tbody> 
                  <tr>
                   {% for reservasdecididas in reservasaceptadas %}
                        <td>{{ reservasdecididas.0}}</td>
                        <td>{{ reservasdecididas.6}}</td>
                        <td>{{ reservasdecididas.1}}</td>
                        <td>{{ reservasdecididas.2}}</td>
                        <td>{{ reservasdecididas.5}}</td>
                      <form method='POST'>
                        {% csrf_token %}
                        <td ><button class="round-button" value="{{reservasdecididas.0}}" name="sube" ><i class="fa fa-sign-in" style="text-align: center;"></i></button></td>
                        <td ><button class="round-button" value="{{reservasdecididas.0}}" name="nosube"><i class="fa fa-sign-out"   style="text-align: center;"></i></button></td>
        </form>  {% endfor %}
                  </tr>
                </tbody>
              </table>
              </div>
                    {% else %}
        <br><br>
        <div class="banner-left wow fadeInLeft animated" data-wow-delay=".5s">
        <h1 style="text-align: center;  font-size: 200%;"> No se suben pasajeros en este trayecto</h1>
        </div>
        <br>
        {% endif %}
              <br>
              <h3 class="typoh2">Pasajeros en el vehiculo</h3>
             {% if reservastransito %}
              <div class="panel panel-default table-responsive">
              <table class="table  table-responsive table-striped" >
                <thead>
                  <tr id="head">
                       <th >Reserva id</th>
                        <th  >Pasajero</th>
                        <th  >Plazas</th>
                        <th  >Destino</th>
                        <th >Estado</th>
                        <th >Baja</th>
                  </tr> 
                </thead>
                <tbody> 
                  
                     {% for reservasdecididas in reservastransito %}
                   <tr> 
            <td>{{ reservasdecididas.0}}</td>
            <td>{{ reservasdecididas.6}}</td>
            <td>{{ reservasdecididas.1}}</td>
            <td>{{ reservasdecididas.3}}</td>
            <td>{{ reservasdecididas.5}}</td>
            <form method='POST'>
            {% csrf_token %}
            <td ><button class="round-button"  name="baja" value="{{reservasdecididas.0}}"><i class="fa fa-sign-out" style="text-align: center;"></i></button></td>
       </form>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>
            </div>
        {% else %}
        <br><br>
        <div class="banner-left wow fadeInLeft animated" data-wow-delay=".5s">
        <h1 style="text-align: center;  font-size: 200%;"> No hay pasajeros en el vehiculo</h1>
        </div>
        <br>
        {% endif %}
          </div>
            <div id="Reservas" class="w3-container w3-white w3-padding-16 myLink">
              <h2 style="text-align: center ;" >Reservas</h2>
              {% if reservas %}
              <div class="panel panel-default table-responsive">
              <table class="table  table-responsive table-striped" >
              <thead>
                <tr>
                <th >Pasajero</th>
                <th >Plazas</th>
                <th >Origen</th>
                <th >Destino</th>
                <th >Precio</th>
                <th >Estado</th>
                <th >Aceptar</th>
                <th >Rechazar</th>
              </tr>
              </thead>
            <tbody>
              {% for reserva in reservas %}
            <tr>
            <td>{{ reserva.6}}</a></td>
            <td>{{ reserva.1}}</a></td>
            <td>{{ reserva.2}}</a></td>
            <td>{{ reserva.3}}</a></td>
            <td>{{ reserva.4}}</a></td>
            <td>{{ reserva.5}}</a></td>
            
            <!--
            <form method="post">
            {% csrf_token %}
            <td ><button class="round-button" name="aprobar" value="{{reserva.0}}" onclick="Aprobar()"><i class="fa fa-check" style="text-align: center;"></i></button></td>
            <td><button class="round-button" name="rechazar" value="{{reserva.0}}" onclick="Rechazar()"><i class="fa fa-times" style="text-align: center;"></i></button></td>

            </form>
            -->
            <form action="{% url 'confirmarAceptarReservaConductor' reserva.0 %}" method="post">
            {% csrf_token %}
            <td ><a href="{% url 'confirmarAceptarReservaConductor' reserva.0 %}"><button class="round-button" name="encurso" onclick=""><i class="fa fa-check" style="text-align: center;"></i></button></a></td>
            </form>
            <form action="{% url 'confirmarCanReservaConductor' reserva.0 %}" method="post">
            {% csrf_token %}
            <td ><a href="{% url 'confirmarCanReservaConductor' reserva.0 %}"><button class="round-button" name="encurso" onclick=""><i class="fa fa-times" style="text-align: center;"></i></button></a></td>
            </form>
            
            </tr>

          {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
        {% else %}
        <br><br>
        <div class="banner-left wow fadeInLeft animated" data-wow-delay=".5s">
        <h1 style="text-align: center;  font-size: 200%;"> No han realizado ninguna reserva para este viaje</h1>
        </div>
        <br>
        {% endif %}
            </div>
          </div>
          <p id="demo"></p>
					<!--
					<div style= "text-align: center; background: #fff" class = "breadcrumb">
     					<form method="post" id="myform">
        					{% csrf_token %}
       						<input type= "hidden" name="holiwi"  id="holiwi">
   							<p id="demo"></p>
          					<a href=""><button class="w3-button" style="background-color: #337ab7 ;color:#000" name="cancelar" value="1">Cancelar </button></a>
          					<button class="w3-button" style="background-color: #337ab7 ;color:#000" name="listo" value="1">Publicar Viaje </button>
          					<a href=""><button class="w3-button" style="background-color: #337ab7 ;color:#000" name="boton" value="1">Siguiente </button></a>
          				</form>
          			</div>
          		-->
				</div>
  			</div>
		</div>
  <script>
    var map;
    var x = document.getElementById("demo");
function initMap() {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }

     function calculateAndDisplayRoute(directionsService, directionsDisplay) {
         var checkboxArray = {{ city_array|safe }};
         var waypts = []
        for (var i = 1; i < checkboxArray.length -1; i++) {
            waypts.push({
              location: checkboxArray[i],
              stopover: true
            });
        }
        directionsService.route({
          origin: checkboxArray[0],
          destination: checkboxArray[checkboxArray.length-1],
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            var aux = '';
            for (var i = 0; i < route.legs.length; i++) {
             aux += ' ' + route.legs[i].distance.text
            }
            document.getElementById("holiwi").value = aux;
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
var actualizar_posicion = setInterval(function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  function showPosition(position) {
        var image = {
          url: 'https://img.icons8.com/dusk/55/000000/user-location.png',
          size: new google.maps.Size(35, 55),
          origin: new google.maps.Point(10, 0),
          anchor: new google.maps.Point(0, 55)
        };
        var shape = {
          type: 'poly'
        };
            var marker = new google.maps.Marker({
            position: {lat: position.coords.latitude, lng: position.coords.longitude},
            map: map,
            icon: image,
            shape: shape,
            title: "Mi posicion",
            zIndex: 1
            });
  }
function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }
}
}, 1000);
    </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD6Q31QwQK0pv7twtzD32efp6hLa0uFEs&callback=initMap">
  </script>
{% endblock %}