{% extends 'login/base2.html' %}

{% block content %}

  <br><br>
  <div id="Viajes" class="banner-info">
  <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Viajes');"><i class="fa fa-car w3-margin-right"></i>Confirmar</button>
    </div>
  	<div class="w3-container w3-white w3-padding-16 myLink">
      <div class="banner-left">
      <h1 style="font-size: 300%;">Confirmar reservas automáticamente</h1><br>
      <p>Esto hará que las reservas se confirmen inmediatamente cuando un pasajero las pida, mientras se dispongan de asientos en el viaje.</p><br><br>
      <form action='../cambio/' method='post'>
        {% csrf_token %}
      <button type='submit' class="w3-button w3-blue" >{% if auto_a %} Desactivar {% else %} Activar {% endif %}</button><br><br>
      </form>
    </div>
  </div>
</div>
<br><br>

{% endblock %}