{% extends 'login/base2.html' %}

{% block content %}
  <div class="banner-info">     
          <div class="banner-left wow fadeInLeft animated" data-wow-delay=".5s">      
					<br><br><br><br><br>
                  <h1 style="font-size: 400%;">Bienvenido, {{user.nombres}} {{user.last_name}}</h1>
                      <p style="font-size: 100%;">Estas en NohJuimoh, sistema de busqueda de viajes. Elige una de las opciones para iniciar.</p>
                      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
         </div>
   </div>
{% endblock %}