{% extends 'login/base_login.html' %}
<!-- Header -->
{% block content %}
<div class="banner"><br><br>
  <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Viajes');"><i class="fa fa-car w3-margin-right"></i>Confirmar</button>
     </div>
      <div id="Viajes" class="w3-container w3-white w3-padding-16 myLink" >
          <div class="banner-info wow fadeInLeft animated" data-wow-delay=".5s"  >
            <h1 align="center">Introduce tus datos</h1>
              <div class="banner-info" style="padding-left: 20%;">
               <form method="post">
                   {% csrf_token %}
                   {{ form.as_p}}<br>
              </div>
                   <div class="w3-clear w3-center nextprev">
                      <button class="w3-button w3-dark-grey" name="pasajero" value="1" style="margin-left: 4%">Registrarme como Pasajero</button>
                      <button class="w3-button w3-dark-grey" type = "submit" name="conductor"  value="1" style="margin-left: 4%">Registrarme como Conductor</button>
                  </div >
                </form>
          </div>
      </div><br><br>
</div>
{% endblock %}